In [2]:
# Define the function "say_hello" so it prints "Hello" when called.
def say_hello():
    print("Hello")

# Call the function.
say_hello()

Hello

In [7]:
# Define the function "say_something" so it prints whatever is passed as the variable when called
def say_something(something):
    print(something)

# Call the function
say_something("Hello WOrld")

Hello WOrld

In [10]:
def say_something(something):
    print(something)
Jane_says = "Hi, my name is Jane. I'm learning Python"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python

In [18]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100
pass_math_count = 29370
student_count = 39170

# Call the function
passing_math_percent(pass_math_count, student_count)

74.9808526933878

In [20]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

# Import pandas
import pandas as pd
# Convert my_grades from list to a pandas series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [21]:
# using map() to change each string value: map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [25]:
# Using format() function.---"{value:format specification}".format(value)
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [28]:
# Chaining map() and format()
# Convert the numerical grades to Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades
# Format the grades to whole number 
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object